### Breeding Analytics data gathering module

Below example show how to extract phenotype data from different data sources to be used for Anaytics pipeline.

The datasources provide REST API to extract following entities,

Plots - List of the plots under an experiment

Plot Measurements - List of measurements for traits in each plot

Occurrence - Corresponds to studies in Brapi specification

Experiment - Corresponds to trial in Brapi specification

Trait - Observation variables in Brapi

In [1]:
cd ../..

/home/vg249/af-core

In [9]:
# DataReaderFactory is factory module which generates objects to read phenotype data for a given data source

from data_reader import DataReaderFactory

from models.enums import DataSource

### Extract data from EBS datasource

In [19]:
api_url = "https://b4rapi-uat.ebsproject.org/v3/"

In [20]:
api_token = "eyJ4NXQiOiJNell4TW1Ga09HWXdNV0kwWldObU5EY3hOR1l3WW1NNFpUQTNNV0kyTkRBelpHUXpOR00wWkdSbE5qSmtPREZrWkRSaU9URmtNV0ZoTXpVMlpHVmxOZyIsImtpZCI6Ik16WXhNbUZrT0dZd01XSTBaV05tTkRjeE5HWXdZbU00WlRBM01XSTJOREF6WkdRek5HTTBaR1JsTmpKa09ERmtaRFJpT1RGa01XRmhNelUyWkdWbE5nX1JTMjU2IiwiYWxnIjoiUlMyNTYifQ.eyJhdF9oYXNoIjoiRU1BSC1hcUtlbFl0blNiTFdmQTBDUSIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL3VzZXJuYW1lIjoiMTA4OTQyNzQyODI2NzExNDc0MjQ0Iiwic3ViIjoiMTA4OTQyNzQyODI2NzExNDc0MjQ0QGNhcmJvbi5zdXBlciIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL3Bob3RvdXJsIjoiaHR0cHM6XC9cL2xoNC5nb29nbGV1c2VyY29udGVudC5jb21cLy1IbW1KQkxGZGNmQVwvQUFBQUFBQUFBQUlcL0FBQUFBQUFBQUFBXC9BTVp1dWNsX3JZN1BEUElOellnQ2EyNnYxWXpHdUh6WWRnXC9zOTYtY1wvcGhvdG8uanBnIiwiYW1yIjpbIlNBTUxTU09BdXRoZW50aWNhdG9yIl0sImlzcyI6Imh0dHBzOlwvXC9zZzEuY2ltbXl0Lm9yZzo5NDQzXC9vYXV0aDJcL3Rva2VuIiwiaHR0cDpcL1wvd3NvMi5vcmdcL2NsYWltc1wvZ2l2ZW5uYW1lIjoiVmlzaG51IiwiaHR0cDpcL1wvd3NvMi5vcmdcL2NsYWltc1wvaWRlbnRpdHlcL2VtYWlsVmVyaWZpZWQiOiJ0cnVlIiwiYXVkIjoiOWR1d2Vsd0dVOGNLelhBeTJfZ3VWUjloV3U4YSIsImNfaGFzaCI6IkZhZlN1b1I5cFFNUXBELTBKRXl1X2ciLCJuYmYiOjE2MTc2MzM4ODQsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL2xvY2FsIjoiZW4iLCJodHRwOlwvXC93c28yLm9yZ1wvY2xhaW1zXC9mdWxsbmFtZSI6IlZpc2hudSBHb3ZpbmRhcmFqIiwiYXpwIjoiOWR1d2Vsd0dVOGNLelhBeTJfZ3VWUjloV3U4YSIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL2VtYWlsYWRkcmVzcyI6InZnMjQ5QGNvcm5lbGwuZWR1IiwiaHR0cDpcL1wvd3NvMi5vcmdcL2NsYWltc1wvbGFzdG5hbWUiOiJHb3ZpbmRhcmFqIiwiZXhwIjoxNjE3NjM3NDg0LCJpYXQiOjE2MTc2MzM4ODR9.s7WD3lkiPuS3HN8yGjeHyxMl78-SjH75rF1KZRzWSZpEBrpUYEekXtFlwox3Hi5cgihRcQI1FfjxpdNHeJuLRDgI_hf5w0UFwdafwDJP38Xs5z6vupqoySEQ7mzefhrpsJ1KjQLp2gcy_c8dZmSqXgbc8PLdeuoSNr_EqiHfRlwmtCDcOCyUQzDAx39_hjvcJdQDgv8KR6ukYkuw6L5d4MSPEuArgc-YhxCERMdimBHb4bgc7_bb4F7M4Dq3CBXC0YakWWqXf_bUVmaop6MGSNjYykQdqRTsNlB7WCg7g2bww_dfdAK3FqAgZqqE2gtLEj8iqLLHRhowG9ur26j9kQ"

In [21]:
# get phenotype data interface for Ebs
phenotype_data = DataReaderFactory(DataSource.EBS).get_phenotype_data(
    api_base_url=api_url, 
    api_bearer_token=api_token)

#### Get plot and plot measurements

In [22]:
phenotype_data.get_plots(occurrence_id=170)

,blk,pa_y,plot_id,plot_qc,pa_x,entry_id,rep_factor,occurrence_id,experiment_id,location_id
0,1,None,1054,G,None,27852,1,170,9,170
1,1,None,1055,G,None,27853,1,170,9,170
2,1,None,1056,G,None,27854,1,170,9,170
3,1,None,1057,G,None,27855,1,170,9,170
4,1,None,1058,G,None,27856,1,170,9,170
5,1,None,1059,G,None,27857,1,170,9,170
6,1,None,1060,G,None,27858,1,170,9,170
7,1,None,1061,G,None,27859,1,170,9,170
8,1,None,1062,G,None,27860,1,170,9,170
9,1,None,1063,G,None,27861,1,170,9,170
10,1,None,1064,G,None,27862,1,170,9,170
11,1,None,1065,G,None,27863,1,170,9,170
12,1,None,1066,G,None,27864,1,170,9,170
13,1,None,1067,G,None,27865,1,170,9,170
14,1,None,1068,G,None,27866,1,170,9,170
15,1,None,1069,G,None,27867,1,170,9,170
16,1,None,1070,G,None,27868,1,170,9,170
17,1,None,1071,G,None,27869,1,170,9,170
18,1,None,1072,G,None,27870,1,170,9,170
19,1,None,1073,G,None,27871,1,170,9,170
20,1,None,1074,G,None,27872,1,170,9,170
21,1,None,1075,G,None,27873,1,170,9,170
22,1,None,1076,G,None,27874,1,170,9,170
23,1,None,1077,G,None,27875,1,170,9,170
24,1,None,1078,G,None,27876,1,170,9,170
25,1,None,1079,G,None,27877,1,170,9,170
26,1,None,1080,G,None,27878,1,170,9,170
27,1,None,1081,G,None,27879,1,170,9,170
28,1,None,1082,G,None,27880,1,170,9,170
29,1,None,1083,G,None,27881,1,170,9,170
30,1,None,1084,G,None,27882,1,170,9,170
31,1,None,1085,G,None,27883,1,170,9,170
32,1,None,1086,G,None,27884,1,170,9,170
33,1,None,1087,G,None,27885,1,170,9,170
34,1,None,1088,G,None,27886,1,170,9,170
35,1,None,1089,G,None,27887,1,170,9,170
36,1,None,1090,G,None,27888,1,170,9,170
37,1,None,1091,G,None,27889,1,170,9,170
38,1,None,1092,G,None,27890,1,170,9,170
39,1,None,1093,G,None,27891,1,170,9,170
40,1,None,1094,G,None,27892,1,170,9,170
41,1,None,1095,G,None,27893,1,170,9,170
42,1,None,1096,G,None,27894,1,170,9,170
43,1,None,1097,G,None,27895,1,170,9,170
44,1,None,1098,G,None,27896,1,170,9,170
45,1,None,1099,G,None,27897,1,170,9,170

In [23]:
phenotype_data.get_plot_measurements(occurrence_id=170)

   trait_id plot_id trait_value trait_qc
0       397    1099        1375        G
1       397    1098        2093        G
2       397    1097        2570        G
3       397    1096        3551        G
4       397    1095        2132        G
5       397    1094        3393        G
6       397    1093        2540        G
7       397    1092        2449        G
8       397    1091        1689        G
9       397    1089        1894        G
10      397    1088        1363        G
11      397    1087        3703        G
12      397    1086         782        G
13      397    1085        2662        G
14      397    1084        1557        G
15      397    1083        1537        G
16      397    1082        2222        G
17      397    1081        1108        G
18      397    1080        1589        G
19      397    1079        1438        G
20      397    1078        1877        G
21      397    1077        2175        G
22      397    1076        1871        G
23      397    1075        1837        G
24      397    1074        2062        G
25      397    1073        1697        G
26      397    1071        1629        G
27      397    1070        2029        G
28      397    1068        1898        G
29      397    1066        2458        G
30      397    1064        1205        G
31      397    1063         466        G
32      397    1062         410        G
33      397    1059         904        G
34      397    1058         837        G
35      397    1057        1984        G
36      397    1056        2003        G
37      397    1055        2372        G
38      397    1054        1904        G

In [24]:
phenotype_data.get_occurrence(occurrence_id=74)

Occurrence(occurrence_id=74, occurrence_name='IRSEA-RGA-2013-WS-002-001', experiment_id=4, experiment_name='IRSEA-RGA-2013-WS-002', location_id=74, location='10001', rep_count=0, entry_count=32, plot_count=67)

### Extract data from Brapi data source

Edpoints used are,

"/observationunits?observationLevel=plot" - to get plots

"/observations?observationLevel=plot" - to get plot measurements

"studies/{studyDbId}" - get study

#### Warning
Breedbase test servers have some bugs for get observation which causes unending loop of paging.
Please refrain from using until that is resolved

In [7]:
api_url = "https://solgenomics.net/brapi/v2/"

In [8]:
# get phenotype data interface for Brapi data soruce
phenotype_data = DataReaderFactory(DataSource.BRAPI).get_pheotype_data(api_base_url=api_url)

#### Get plot and plot measurements

In [9]:
phenotype_data.get_plots(occurrence_id=68)

,entry_id,plot_id,location_id,pa_x,rep_factor,blk,experiment_id,pa_y,occurrence_id,plot_qc
0,30826,31089,15,1,1,1,,1,68,G
1,30827,31016,15,1,1,1,,2,68,G
2,30828,31122,15,1,1,1,,4,68,G
3,30829,31129,15,1,1,1,,5,68,G
4,30830,31046,15,1,1,1,,6,68,G
...,...,...,...,...,...,...,...,...,...,...
157,29298,31113,15,2,1,1,,16,68,G
158,29298,31038,15,2,1,1,,18,68,G
159,29298,31039,15,4,1,1,,8,68,G
160,29298,30983,15,5,1,1,,1,68,G
161,29298,31055,15,6,1,1,,2,68,G

In [10]:
phenotype_data.get_plot_measurements(occurrence_id=68)

          trait_value plot_id trait_id trait_qc
0    2.76666666666667   31089    39966        G
1                3.56   31016    39966        G
2                7.55   31122    39966        G
3    3.08888888888889   31129    39966        G
4    7.77857142857143   31046    39966        G
..                ...     ...      ...      ...
995            24.261   31180    56263        G
996           33.2564   31180    56252        G
997           72.9655   31180    56243        G
998           46.8456   31180    56254        G
999           81.5544   31180    56260        G

[1000 rows x 4 columns]

In [11]:
phenotype_data.get_occurrence(occurrence_id=68)

Occurrence(occurrence_id=68, occurrence_name='17S62', experiment_id=54, experiment_name='U Georgia', location_id=15, location='Blairsville GA', rep_count=None, entry_count=None, plot_count=None)