### Breeding Analytics data gathering module

Below example show how to extract phenotype data from different data sources to be used for Anaytics pipeline.

The datasources provide REST API to extract following entities,

Plots - List of the plots under an experiment

Plot Measurements - List of measurements for traits in each plot

Occurrence - Corresponds to studies in Brapi specification

Experiment - Corresponds to trial in Brapi specification

Trait - Observation variables in Brapi

In [1]:
cd ../..

/home/vg249/af-core

In [2]:
# DataReaderFactory is factory module which generates objects to read phenotype data for a given data source

from data_reader.data_reader_factory import DataReaderFactory

from models.enums import DataSource

### Extract data from EBS datasource

In [3]:
api_url = "https://b4rapi-uat.ebsproject.org/v3/"

In [4]:
api_token = "eyJ4NXQiOiJaalJtWVRNd05USmpPV1U1TW1Jek1qZ3pOREkzWTJJeU1tSXlZMkV6TWpkaFpqVmlNamMwWmciLCJraWQiOiJaalJtWVRNd05USmpPV1U1TW1Jek1qZ3pOREkzWTJJeU1tSXlZMkV6TWpkaFpqVmlNamMwWmdfUlMyNTYiLCJhbGciOiJSUzI1NiJ9.eyJhdF9oYXNoIjoiLXNkVzI2OVlqREhta2lvVWVDbVlrUSIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL3VzZXJuYW1lIjoiMTA4OTQyNzQyODI2NzExNDc0MjQ0Iiwic3ViIjoidmcyNDlAY29ybmVsbC5lZHUiLCJodHRwOlwvXC93c28yLm9yZ1wvY2xhaW1zXC9waG90b3VybCI6Imh0dHBzOlwvXC9saDQuZ29vZ2xldXNlcmNvbnRlbnQuY29tXC8tSG1tSkJMRmRjZkFcL0FBQUFBQUFBQUFJXC9BQUFBQUFBQUFBQVwvQU1adXVjbF9yWTdQRFBJTnpZZ0NhMjZ2MVl6R3VIellkZ1wvczk2LWNcL3Bob3RvLmpwZyIsImFtciI6WyJTQU1MU1NPQXV0aGVudGljYXRvciJdLCJpc3MiOiJodHRwczpcL1wvc2cuZWJzcHJvamVjdC5vcmc6OTQ0M1wvb2F1dGgyXC90b2tlbiIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL2dpdmVubmFtZSI6IlZpc2hudSIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL2lkZW50aXR5XC9lbWFpbFZlcmlmaWVkIjoidHJ1ZSIsImF1ZCI6IlNONl96UUNxcnBwelp0bUVmVlhuRGpnVXlvd2EiLCJjX2hhc2giOiJKcUY3RWRScExNOVBreG43aWVkMzV3IiwibmJmIjoxNjE2MTcyMDU3LCJodHRwOlwvXC93c28yLm9yZ1wvY2xhaW1zXC9sb2NhbCI6ImVuIiwiaHR0cDpcL1wvd3NvMi5vcmdcL2NsYWltc1wvZnVsbG5hbWUiOiJWaXNobnUgR292aW5kYXJhaiIsImF6cCI6IlNONl96UUNxcnBwelp0bUVmVlhuRGpnVXlvd2EiLCJodHRwOlwvXC93c28yLm9yZ1wvY2xhaW1zXC9lbWFpbGFkZHJlc3MiOiJ2ZzI0OUBjb3JuZWxsLmVkdSIsImh0dHA6XC9cL3dzbzIub3JnXC9jbGFpbXNcL2xhc3RuYW1lIjoiR292aW5kYXJhaiIsImV4cCI6MTYxNjE3NTY1NywiaWF0IjoxNjE2MTcyMDU3fQ.aD8_2wyjDPl38pdnJEH2f3XsuhoegsJvVaQiDMB_1E9BQzHHtJ-gfPYd24s-8NfFrBFig30fqtEbFre6RS4iNbM6-oeq1JBVTkxKmKa318dk7yudN-JP4PaDh4NDyxyfotuz6WbzXeCmi_WUZTQFIEK6t2iP5a25yIdRkDUKgqhkVuAu03NxSK6hlmSPPrrVia0MpMtCTMGTDrLVTAvSwnlqlURZbTufwwZLycV4QWNvAMJ_XdNU4zYUQ93zbLZ1s6h28O4IElJ-3O9buYKG5QpHqd64fp0MPUjSw5L1hwj8AbdEbXglFePWoeP3mbbJ2uR4Z7J_r9bCXoIhShE-Jw"

In [5]:
# get phenotype data interface for Ebs
phenotype_data = DataReaderFactory(DataSource.EBS).get_pheotype_data(
    api_base_url=api_url, 
    api_bearer_token=api_token)

#### Get plot and plot measurements

In [6]:
phenotype_data.get_plots(occurrence_id=74)

DataReaderException: {'metadata': {'pagination': {'pageSize': None, 'totalCount': None, 'currentPage': None, 'totalPages': None}, 'status': [{'message': '', 'messageType': 'Unauthorized'}], 'datafiles': []}, 'result': {'data': []}}

In [ ]:
phenotype_data.get_plot_measurements(occurrence_id=74)

In [ ]:
phenotype_data.get_occurrence(occurrence_id=74)

### Extract data from Brapi data source

Edpoints used are,

"/observationunits?observationLevel=plot" - to get plots

"/observations?observationLevel=plot" - to get plot measurements

"studies/{studyDbId}" - get study

In [7]:
api_url = "https://solgenomics.net/brapi/v2/"

In [8]:
# get phenotype data interface for Brapi data soruce
phenotype_data = DataReaderFactory(DataSource.BRAPI).get_pheotype_data(api_base_url=api_url)

#### Get plot and plot measurements

In [9]:
phenotype_data.get_plots(occurrence_id=68)

,entry_id,plot_id,location_id,pa_x,rep_factor,blk,experiment_id,pa_y,occurrence_id,plot_qc
0,30826,31089,15,1,1,1,,1,68,G
1,30827,31016,15,1,1,1,,2,68,G
2,30828,31122,15,1,1,1,,4,68,G
3,30829,31129,15,1,1,1,,5,68,G
4,30830,31046,15,1,1,1,,6,68,G
...,...,...,...,...,...,...,...,...,...,...
157,29298,31113,15,2,1,1,,16,68,G
158,29298,31038,15,2,1,1,,18,68,G
159,29298,31039,15,4,1,1,,8,68,G
160,29298,30983,15,5,1,1,,1,68,G
161,29298,31055,15,6,1,1,,2,68,G

In [10]:
phenotype_data.get_plot_measurements(occurrence_id=68)

          trait_value plot_id trait_id trait_qc
0    2.76666666666667   31089    39966        G
1                3.56   31016    39966        G
2                7.55   31122    39966        G
3    3.08888888888889   31129    39966        G
4    7.77857142857143   31046    39966        G
..                ...     ...      ...      ...
995            24.261   31180    56263        G
996           33.2564   31180    56252        G
997           72.9655   31180    56243        G
998           46.8456   31180    56254        G
999           81.5544   31180    56260        G

[1000 rows x 4 columns]

In [11]:
phenotype_data.get_occurrence(occurrence_id=68)

Occurrence(occurrence_id=68, occurrence_name='17S62', experiment_id=54, experiment_name='U Georgia', location_id=15, location='Blairsville GA', rep_count=None, entry_count=None, plot_count=None)